In [1]:
# Importo librerias

import requests
import pandas as pd
import os
from configparser import ConfigParser
import datetime
import importlib

# Nombre de la biblioteca que deseo instalar
lib_name = 'sqlalchemy'

# Verifica si la biblioteca ya está instalada
try:
    importlib.import_module(lib_name)
    print(f"{lib_name} ya está instalada.")
except ImportError:
    print(f"{lib_name} no está instalada. Instalando...")
    %pip install -q "redshift_connector[full]" sqlalchemy-redshift

import sqlalchemy as sa

sqlalchemy ya está instalada.

In [2]:
# Seteo el path del archivo de configuracion
base_dir = "/Users/Bubu/Documents/REPOS/DE-CODER"
os.chdir(base_dir)

In [3]:
# Leo el archivo de configuracion
config = ConfigParser()
config_dir = "config/config.ini"
config.read(config_dir)

['config/config.ini']

### Obtengo información de las APIs

In [4]:
# Obtenego datos de Tickers por pais de : https://stockanalysis.com 
url_api_country = "https://stockanalysis.com/api/screener/s/d/country.json"

r1 = requests.get(url_api_country)

if r1.status_code == 200:
    print('Request successful')
else:
    print(r1.status_code, r1.content)

Request successful

In [5]:
# Genero un dataframe con los datos de los tickers por pais
tickers_countries = pd.DataFrame(r1.json()['data']['data'])

In [6]:
# Selecciono columnas del dataset tickers_countries
tickers_countries=tickers_countries[[0,1]]
tickers_countries.rename(columns={0:'Ticker',1:'Country'}, inplace=True)

In [7]:
tickers_countries.head()

  Ticker        Country
0   AAPL  United States
1   MSFT  United States
2   GOOG  United States
3  GOOGL  United States
4   AMZN  United States

In [8]:
# Selecciono solo los tickers de Argentina 
# ----IMPORTANTE!!: Limito a solo 5 ya que es la cantidad de requests que me permite el plan free de la api por minuto)

tickers_argentina=tickers_countries[tickers_countries['Country']=='Argentina']['Ticker'][0:5]

In [9]:
# Ahora obtengo los datos de cotización historica de los tickers de Argentina de polygon.io
# Obtuve el token de acceso a la API de polygon.io y lo guardé en config.ini

api_key = config['credenciales_api']['api_key']

In [10]:
# Armamos la url con el endpoint y especificando las credenciales como parámetros
url_base = "https://api.polygon.io"
endpoint = "v2/aggs/ticker"

# params de fecha para iteración
start='2023-01-01'
end='2023-10-30'
data_dict = []

for ticker in tickers_argentina:
    url = f"{url_base}/{endpoint}/{ticker}/range/1/day/{start}/{end}?adjusted=true&sort=asc&apiKey={api_key}"
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        temp = [r.json()]
        data_dict.extend(temp)
        print(f"... Ready {ticker}")

... Ready YPF
... Ready PAM
... Ready BMA
... Ready TGS
... Ready GGAL

In [11]:
# Genero un dataframe con los datos de cotización historica de los tickers de Argentina
df = pd.json_normalize(data_dict, record_path =['results'], meta=['ticker'])

In [12]:
# Transformo la columna timestamp a formato fecha y reordeno las columnas
df['timestamp'] = pd.to_datetime(df['t'], unit='ms')
df = df[['timestamp', 'ticker', 'v', 'vw', 'o', 'c', 'h', 'l']]
df.head()

            timestamp ticker          v      vw     o     c     h      l
0 2023-01-03 05:00:00    YPF  3595097.0  8.9449  9.23  8.71  9.50  8.640
1 2023-01-04 05:00:00    YPF  1694038.0  8.6830  8.70  8.71  8.81  8.500
2 2023-01-05 05:00:00    YPF  2467675.0  9.1565  8.71  9.35  9.36  8.680
3 2023-01-06 05:00:00    YPF  2349927.0  9.5640  9.54  9.45  9.72  9.420
4 2023-01-09 05:00:00    YPF  2298850.0  9.6229  9.55  9.75  9.77  9.355

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  1040 non-null   datetime64[ns]
 1   ticker     1040 non-null   object
 2   v          1040 non-null   float64
 3   vw         1040 non-null   float64
 4   o          1040 non-null   float64
 5   c          1040 non-null   float64
 6   h          1040 non-null   float64
 7   l          1040 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 65.1+ KB

### Levanto los datos en Redshift

In [14]:
# Defino la cadena de conexión

def build_conn_string(config_path, config_section):
    """
    Construye la cadena de conexión a la base de datos
    a partir de un archivo de configuración.
    """

    # Lee el archivo de configuración
    config = ConfigParser()
    config.read(config_dir)

    # Lee la sección de configuración de PostgreSQL
    config = config[config_section]
    host = config['host']
    port = config['port']
    database = config['database']
    username = config['username']
    password = config['password']

    # Construye la cadena de conexión
    conn_string = f'postgresql://{username}:{password}@{host}:{port}/{database}?sslmode=require'
    
    return conn_string

In [15]:
# Defino la función para conectarme a la base de datos

def connect_to_db(conn_string):
    """
    Crea una conexión a la base de datos.
    """
    engine = sa.create_engine(conn_string)
    conn = engine.connect()
    return conn, engine

In [16]:
# Creo la conexión a la base de datos

conn_str = build_conn_string('config.ini', 'Credenciales_Redshift')
conn_str

'postgresql://florenciaortega_coderhouse:3jBQ7CMr7j@data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com:5439/data-engineer-database?sslmode=require'

In [17]:
conn, engine = connect_to_db(conn_str)

In [18]:
# Crea la tabla en Redshift

schema = "florenciaortega_coderhouse"

conn.execute(
    f"""
        DROP TABLE IF EXISTS {schema}.fct_tickers_argentina;
        CREATE TABLE {schema}.fct_tickers_argentina (
            Date TIMESTAMP,
            Ticker VARCHAR(10) distkey,
            Volume INT,
            Vol_weighted FLOAT,
            Open_price FLOAT,
            Close_price FLOAT,
            High_price FLOAT,
            Low_price FLOAT
        )
        
        sortkey(Date, Ticker);

        DROP TABLE IF EXISTS {schema}.dim_tickers;
        CREATE TABLE {schema}.dim_tickers (
            Ticker VARCHAR(10) distkey,
            Country VARCHAR(10)
        )
        
        sortkey(Ticker);

        DROP TABLE IF EXISTS {schema}.dim_fechas;
        CREATE TABLE {schema}.dim_fechas (
            Date TIMESTAMP distkey,
            Year INT,
            Month INT,
            Day INT,
            Weekday INT,
            Quarter INT,
            Semester INT,
            Day_of_year INT
        )
        
        sortkey(Date);

    """
)

/var/folders/cj/c41srb096lq7598vykrb1jl00000gn/T/ipykernel_14875/4142177441.py:5: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(

In [19]:
# Mapeo los nombres de las columnas con las que quiero que se suban a la base de datos

column_mapping = {
    'timestamp': 'Date',
    'ticker': 'Ticker',
    'v': 'Volume',
    'vw': 'Vol_weighted',
    'o': 'Open_price',
    'c': 'Close_price',
    'h': 'High_price',
    'l': 'Low_price'
}

# Renombro las columnas del dataframe

df.rename(columns=column_mapping, inplace=True)

In [20]:
# Genero un dataset de periodos de tiempo para subir como tabla dimensional de tiempos

# Defino la función para generar un dataset de periodos de tiempo

def generate_date_range(start_date, end_date, freq='D'):
    """
    Genera un dataset de periodos de tiempo.
    """
    date_range = pd.date_range(start=start_date, end=end_date, freq=freq)
    date_range = pd.DataFrame(date_range).rename(columns={0: 'Date'})
    date_range['Date'] = pd.to_datetime(date_range['Date'])
    date_range['Year'] = date_range['Date'].dt.year
    date_range['Month'] = date_range['Date'].dt.month
    date_range['Day'] = date_range['Date'].dt.day
    date_range['Weekday'] = date_range['Date'].dt.weekday
    date_range['Quarter'] = date_range['Date'].dt.quarter
    date_range['Semester'] = date_range['Quarter'].apply(lambda x: 1 if x <= 2 else 2)
    date_range['Day_of_year'] = date_range['Date'].dt.dayofyear

    return date_range

In [21]:
dim_fechas = generate_date_range('2023-01-01', '2024-01-01', freq='D')
dim_fechas.head()

        Date  Year  Month  Day  Weekday  Quarter  Semester  Day_of_year
0 2023-01-01  2023      1    1        6        1         1            1
1 2023-01-02  2023      1    2        0        1         1            2
2 2023-01-03  2023      1    3        1        1         1            3
3 2023-01-04  2023      1    4        2        1         1            4
4 2023-01-05  2023      1    5        3        1         1            5

In [22]:
# Subo los dataframes a la base de datos Redshift

df.to_sql(
    name="fct_tickers_argentina",
    con=conn,
    schema=schema,
    if_exists="replace",
    method="multi",
    index=False,
    )

tickers_countries.to_sql(
    name="dim_tickers",
    con=conn,
    schema=schema,
    if_exists="replace",
    method="multi",
    index=False,
    )

dim_fechas.to_sql(
    name="dim_fechas",
    con=conn,
    schema=schema,
    if_exists="replace",
    method="multi",
    index=False,
    )

366